<!DOCTYPE html>
<html>
<head>
<title>Registration</title>
<link rel="stylesheet" 
href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="container">
<h2>Registration Form</h2>
<a href="/login">Login</a>
{% with messages = get_flashed_messages() %}
{% for message in messages %}
<p class="message">{{ message }}</p>
{% endfor %}

{% endwith %}
<form method="POST">
<label>Name:</label>
<input type="text" name="name">
<label>Email:</label>
<input type="email" name="email">
<label>Username:</label>
<input type="text" name="username">
<label>Password:</label>
<input type="password" name="password">
<label>Confirm Password:</label>
<input type="password" name="confirm_password">
<input type="submit" value="Register">
</form>
</div>
</body>
</html>